:root{
    --customShadow: 0 4px 2px rgba(31, 47, 61, 0.781);
}

html{
    margin: 0px;
}

#customNav{
    background-color: rgba(234, 249, 255, 0.6) !important;
    backdrop-filter: blur(5px) !important;
}

.active{
    background-color: rgb(177, 233, 255);
    border-radius: 20px;
}

#hrtLogo{
    box-shadow: var(--shadowsmall);
}

p{
    font-size: 20px;
}

/* .fixed-top{
    margin-top: 110px;
} */

.cmprtmt0{
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 40px;
    margin-bottom: 300px;
}

.cmprtmt1{
    border-radius: 10px;
}


.cmprtmt3{
    z-index: 1;
    position: fixed;
    top: 0%;
    background-color: rgba(169, 202, 240, 0.4);
    width: 100%;
    margin: 0px;
    padding: 30px;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
}

.cmprtmt4{
    margin: 20px;
    margin-top: 150px;
}

.buttonSep{
    margin: 20px;
    margin-top: 40px;
}